#install {
    overflow: hidden;
    color: $dark;
    word-break: keep-all;

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }

    @include media-breakpoint-down(md) {
        h2 {
            font-size: 1.45rem;
        }

        p {
            font-size: 1rem;
        }
    }
}